/* Định dạng nội dung chính */
main {
    padding: 20px;
    background-color: #e9f7fe; /* Màu nền sáng hơn */
}
.duan2 {
    background: url("../images/duan2/duan2.svg") no-repeat center center/cover;
    color: #fff;
}

.duan2 .content {
    max-width: 800px;
    margin: auto;
    padding: 100px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.duan2 .content h1 {
    font-size: 3.5rem;
    margin-bottom: 40px;
    color: #00eafb;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.duan2 .content p {
    font-size: 1.1rem;
    margin-bottom: 35px;
}

/* Các phần nội dung */
.text{
    background-color: #dbc1c1ab;
    padding: 5% 38% 0 38%;
}
.text-ct{
    color: #138704; /* Màu xanh sáng */
    text-align: center;
    font-size: 2em;
    padding: 20px;
    border : 2px dashed black;
    border-radius: 15px;
}
.content-section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    background-color: #dbc1c1ab;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.text-content1,
.text-content,
.image-content {
    flex: 1 1 40%;
    padding: 30px;
}

.text-content1 h3,
.text-content h3 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #138704; /* Màu xanh sáng */
}
.text-content1 ul
.text-content ul {
    list-style-type: none;
    padding: 0;
}
.text-content1 ul li,
.text-content ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #343a40;
}
.text-content1 ul li ul li{
    padding-left: 35px;
    font-size: 1em;
    margin: 20px 0;
    color: #343a40;
}
.image-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Các truy vấn phương tiện cho tính tương thích */
@media (max-width: 768px) {
    .text-content,
    .image-content {
        flex: 1 1 100%;
        order: unset; /* Xóa thứ tự hiển thị khi ở kích thước nhỏ */
    }
}
